﻿html{color:#000;}body,div,dl,dt,dd,ul,ol,li,h2,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h2,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}

body 
{ 
	font: 12px Arial,Helvetica,sans-serif; 
	color: #000000; 
}

a 
{
	color: #005497; 
	text-decoration: underline; 
}

h2 
{ 
	font: 18px Arial,Helvetica,sans-serif; 
	margin: 0px 0px 5px; 
}

ul li 
{
	padding-left: 15px; 
	background: url('../img/square.gif') no-repeat left; 
}

.main 
{ 
	width: 1280px; 
	margin: 0 auto;
	overflow: hidden;
}

.header 
{ 
	background: url('../img/bg.gif') repeat-x; 
	padding-top: 10px; 
	height: 120px; 
	margin-bottom: 20px; 
}
	
	.logo 
	{ 
		float: left;
		width: 416px; 
		height: 84px; 
		background: url(../img/logo.jpg);
		margin-left: 23px;
	}
	
	.header_right 
	{
		float: right; 
		width: 800px;
	}

		.header_right .social
		{
			float: right; 
			padding-right: 55px;
		}
		
		.header_right .social a
		{
			text-decoration: none;
		}
		
		.header_right .social img
		{
			width: 25px; 
			height: 25px;
		}
		
		.header_top 
		{ 
			padding: 1px 0px 14px; 
		}
		
		.header_top a 
		{ 
			display: inline-block; 
		}
		
		.header_top a.podpiska 
		{ 
			background: url('../img/icons_top.gif') no-repeat left -24px; 
			padding: 0px 0px 2px 18px; 
			margin-right: 13px; 
		}
		
		.header_top a.reklama 
		{ 
			background: url('../img/icons_top.gif') no-repeat left -50px; 
			padding: 0px 0px 2px 23px; 
			margin-right: 16px; 
		}
		
		.header_top a.obratka 
		{ 
			background: url('../img/icons_top.gif') no-repeat left -72px; 
			padding: 0px 0px 2px 19px; 
		}
	
		.header_right .search .form_input_center input 
		{ 
			background: none repeat scroll 0% 0% transparent; 
			border: none;
			background: url('../img/search_bg.gif'); 
			height: 28px;
			font-size: 14px; 
			font-style: italic; 
			width: 100%; 
			color: gray;
		}
		
		.header_right .search .form_input_center input:focus
		{
			outline: none;
		}
		
		.header_right .search .button 
		{ 
			float: right;
			padding: 2px 20px 0px 0px;
		}
		
		.header_right .search .search_advanced 
		{ 
			display: inline-block; 
			background: url('../img/arrow1.gif') no-repeat left 3px; 
			text-decoration: none; 
			padding: 0px 0px 0px 15px; 
			margin-top: 5px; 
			cursor: pointer; 
		}
		
		.header_right .search .form_input, .header_right .search .form_input_center
		{
			float: left;
		}
		
		.header_right .search .form_input_center
		{
			width: 730px;
		}
	
	.header .menu 
	{ 
		padding-left: 15px;  
		clear: both;
		overflow: hidden;
		position: relative;
		top: 5px;
	}
	
		.header .menu a 
		{ 
			display: block; 
			float: left; 
			color: rgb(0, 60, 107); 
			font-size: 14px; 
			margin-right: 1px; 
			cursor: pointer; 
			overflow: hidden;
		}
	
			.header .menu a span 
			{ 
				float: left; 
				height: 23px; 
				padding: 5px 15px 0px; 
			}

			.header .menu a .new 
			{ 
				position: relative; 
				top: -5px; 
				left: 5px; 
				font-weight: bold; 
				color: rgb(255, 75, 0); 
				font-size: 12px; 
				display: inline;
			}
	.wrapper 
	{  
		float: left; 
	}
		.content 
		{ 
			overflow: hidden;
		}
		.center 
		{ 
			width: 750px; 
			float: right; 
			margin-top: 16px;
		}
			.center .title 
			{
				background: url(../img/title_bg.png); 
				width: 748px; 
				height: 23px;
				margin-bottom: 10px;
			}
			.center .date 
			{ 
				color: rgb(100, 100, 100); 
				background: url('../img/ico15.gif') no-repeat left 2px; 
				padding-left: 13px; 
				margin-bottom: 4px; 
			}
			.center .announce 
			{ 
				font-size: 14px; 
				line-height: 18px; 
				margin-bottom: 12px; 
				overflow: hidden;
			}
			.center .announce img 
			{ 
				border: 2px solid rgb(0, 84, 151); 
				float: left; 
				margin: 4px 17px 0px 0px; 
			}
			.center .comments_wrap 
			{ 
				margin-bottom: 18px; 
			}
			
			.center .comments_wrap .comment 
			{ 
				background: url('../img/comment_l.gif') no-repeat left top; 
				float: left; color: rgb(255, 255, 255); 
				font-size: 10px; 
				margin: 1px 5px 0px 0px; 
			}
			.center .comments_wrap .comment span 
			{ 
				display: inline-block; 
				background: url('../img/comment_r.gif') no-repeat right top; 
				height: 19px; 
				padding: 1px 3px 0px; 
			}
			.center .last_news 
			{
				border: 1px solid rgb(200, 218, 233); 
				position: relative; 
				padding: 9px 18px; 
				font-size: 14px; 
				margin-bottom: 25px; 
			}
				.center .last_news ul 
				{ 
					margin: 9px 0px 0px; 
				}
				.center .last_news li 
				{ 
					margin-bottom: 9px; 
				}
				.center .last_news a 
				{ 
					font-size: 12px; 
				}
			
				.center .last_news .all_news_rubric 
				{ 
					float: right; 
				}
		.left_part 
		{ 
			width: 238px; 
			float: left; 
			padding: 0px 25px 0px 7px; 
		}
			.left_part h2 
			{ 
				font-weight: bold; 
				color: rgb(255, 75, 0); 
				margin-bottom: 10px; 
			}
			.left_part .menu 
			{ 
				padding: 0px 9px; 
				margin-bottom: 20px; 
			}
			
			.left_part .menu ul li 
			{ 
				margin: 0px; 
				padding: 0px; 
				background: url('../img/menu_bg.gif') no-repeat left top; 
			}
			.left_part .menu ul li:first-child 
			{ 
				background: none; 
			}
			.left_part .menu a 
			{ 
				text-decoration: none; 
				font-size: 14px; 
				color: rgb(0, 72, 140); 
				height: 20px; 
				display: block; 
				position: relative; 
				padding: 5px 0px 0px 36px; 
			}
				.left_part .menu a img 
				{ 
					position: absolute; 
					left: 6px; 
					top: 0px; 
				}
			.left_part .menu ul li:hover
			{
				background:url(../img/menu_bgh.png) no-repeat left top;
			}
			.left_part .blogs 
			{ 
				padding: 0px 0px 13px 10px; 
				position: relative; 
				 
			}
			.left_part .blogs .item 
			{ 
				clear: both; 
				margin-bottom: 5px;
			}
			.left_part .blogs .item img 
			{ 
				border: 2px solid rgb(0, 84, 151); 
				float: left; 
				margin: 3px 5px 5px 0px; 
			}
			.left_part .blogs .news_all 
			{ 
				display: inline-block; 
				background: url('../img/ico17.gif') no-repeat left top; 
				padding: 0px 0px 1px 23px; 
				margin-top: 5px; 
			}

	.sidebar 
	{ 
		float: right; 
		width: 220px; 
		padding: 0px 7px 0px 2px; 
		position: relative; 
		z-index: 50; 
	}
	.sidebar h2 
	{ 
		font: bold 18px Arial,Helvetica,sans-serif; 
		color: rgb(255, 75, 0); 
		margin: 0px 0px 8px; 
	}
		.sidebar .newspaper 
		{
			width: 233px; 
			height: 182px;  
			margin: -67px 0px 20px -12px; 
			position: relative; 
			background: url(../img/gazeta.png);
		}
		.sidebar .quiz 
		{ 
			margin-bottom: 25px; 
		}
			.sidebar .quiz .title 
			{ 
				font-size: 14px; 
				font-weight: bold; 
				line-height: 17px; 
				margin-bottom: 7px; 
			}
			.sidebar .quiz .answers p
			{ 
				font-size: 12px; 
				margin: 0px 0px 3px;
			}
			.sidebar .quiz .answers input
			{ 
				margin: 0px 6px 3px 1px; 
				vertical-align: middle; 
			}
			.sidebar .quiz a.results 
			{ 
				display: inline-block;
				background: url('../img/ico12.gif') no-repeat 3px 4px; 
				padding-left: 21px; 
			}
			.quiz .button
			 { 
				width: 146px;
				height: 41px;
				background: url('../img/button_vote.png'); 
				cursor: pointer;	
			}